#fondo
{
    background-image: url('../img/fondoRegistro.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la pantalla */
     /* Ajusta la posición de la imagen */
    background-attachment: fixed; 
}